body {
    background-color: lightblue;
}

h1 {
    color: black;
    margin-left: 20px;
}
h2 {
padding: 5px;
}

#titel {
background: red;
  width: 600px;
}

h1 {
    font-size: 40px;
}
p {
    
  padding-top: 50px;

  
 }

#douglas {
  background: red;
  
}
 


#hi {
  background: red;
  
}
  
  
  